@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

:root {
    --color1: #6a7bff;
    --color2: #f07067;
    --color3: #30b7ff;
    --color4: #13141f;
    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Imprima', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: #252525;
    color: white;
    font-family: var(--font2);
}

nav {
    position: sticky;
    background: var(--color3);
}

main {
    background: white;
}

footer {
    background: #252525;
}
footer p {
    color: white;
}